@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Code Camp 2013!</h1>
    <p class="lead">Looking at SignalR ;).</p>
    <p><a href="http://www.asp.net/signalr" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Chat example</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Chat")">Go to chat &raquo;</a></p>
    </div>
   
</div>